#btn_perfil{
	cursor:pointer;
}
#btn_logout{
	cursor:pointer;
}
@media screen and (min-width:320px) and (max-width:991px){
    .main {
        margin-top: 150px;
    }
}

#text-initial {
    margin-bottom: 20px;
    font-family: cursive;
}

.subtit2 {
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: cursive;
    font-size: 1.4em;
}

.card-dica {
    margin-bottom: 20px;
}

.botao {
    margin-bottom: 20px;
}

