#btn_perfil{
	cursor:pointer;
}
#btn_logout{
	cursor:pointer;
}
.center {
    text-align: center;
    font-family: cursive;
    margin-bottom: 30px;
}

.card-dica {
    margin-bottom: 40px;
    border-radius: 40px;
    min-height: 575px;
    max-height: 575px;
}

.subtit {
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

#botoes {
    margin-bottom: 40px;
}

@media screen and (min-width:320px) and (max-width:991px){
    .main {
        margin-top: 170px;
    }
}